nav {
  display: flex !important;
  justify-content: space-between;
  padding: 3em 7em 0;

  @media only screen

    and (max-device-width: 812px) {
    padding: 3em 1em 0;
    margin-left: 4%;
  }
}
