.LoveNav {
  display: flex !important;
  justify-content: space-between;
  padding: 1em 7em 0;
  height: 5em;
  
  svg {
    position: relative;
    height: 8.9rem; 
    color: white;
  }
  @media only screen

    and (max-device-width: 812px) {
    position: absolute;
    height: auto; 
    z-index: 2;
    width: 97%;
    padding: 3em 2em 0;
    margin-left: 0%;
    svg {
     
      height: 1.3rem; 
      
    }
    .fa-arrow-left {
      right: 37%;
     
    }
    .fa-heart {
      right: -0.7em;
    }
  }
}
