$normal: #a8a878;
$fire: #f7786b;
$water:#58aaf6;
$grass:#4fc1a6;
$electric:#ffce4b;
$ice:#98d8d8;
$fighting:#c03028;
$poison:#a040a0;
$ground:#e0c068;
$flying:#a890f0;
$psychic:#f85888;
$bug:#a8b820;
$rock:#b1736c;
$ghost:#7c538c;
$dark:#705848;
$dragon:#7038f8;
$steel:#b8b8d0;
$fairy:#f8b3ed;

.normal {
    background:$normal;
    
}
.fire {
    background:$fire ;
    
}
.water {
    background: $water;
    
}
.grass {
    background:$grass ;
    
}
.electric {
    background:$electric ;
    
}
.ice {
    background:$ice ;
    
}
.fighting {
    background:$fighting ;
    
}
.poison {
    background:$poison ;
    
}
.ground {
    background: $ground;
    
}
.flying {
    background: $flying;
    
}
.psychic {
    background: $psychic;
    
}
.bug {
    background: $bug;
    
}
.rock {
    background:$rock ;
    
}
.ghost {
    background:$ghost ;
    
}
.dark {
    background:$dark ;
    
}
.dragon {
    background:$dragon ;
    
}
.steel {
    background: $steel;
    
}
.fairy {
    background:$fairy ;
    
}

.example-collapse-text {
    background: white;
    border-radius: 150px 150px 0px 0px;
}